body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    /* background-color: black;  */
    height: 100vh;
    /* width: 100vw;    */
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    background-image: url(small_red_robotic_car_in_a_rac.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 1000px;
    position: relative;
    top: -90px;
    /* flex-wrap: wrap; */
}
#h1{
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    color: rgb(33, 114, 51);
    text-shadow: 10px 10px 10px black;
    position: relative;
    top: -50px;
}
#h3{
    font-size: 55px;
    margin-top: 0px;
    color: rgb(12, 44, 141);
    text-shadow: 3px 3px 5px black;
    margin-bottom: 0px;
}
#info{
    width: 1000px;
    font-size: 25px;
    text-shadow: 3px 3px 5px black;
    align-content: center;
    transition: background-color 1s;
    padding: 10px 10px;
    /* transition: border 1s; */
    /* color: black; */
    /* font-weight: 600; */
}
#info:hover{
    /* border: 2px solid black; */
    background-color: rgb(7, 10, 52);
    
}
#registerbtn{
    margin-top: 20px;
    background-color: darkslategray;
    font-size: 30px;
    border: 0px;
    border-radius: 8px;
    padding: 8px 8px;
    color: skyblue;
    text-decoration: none;
    transition: background-color 1s;
}
#registerbtn:hover{
    background-color: rgb(37, 61, 61);
}
#container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url(robot_face-off_concept_art_dig.jpeg);
    background-size: cover;
    position: relative;
    top: -100px;
    height: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#roboquiz{
    font-size: 55px;
    color: rgb(3, 3, 122);
}
#info2{
    font-size: 25px;
    width: 1000px;
    color: white;
    text-shadow: 3px 3px 5px black;
    padding: 10px 10px;
    transition: background-color 1s;
}
#info2:hover{
    background-color: rgb(109, 66, 10);
}
#img{
    border-radius: 50%;
    height: 80px;
    position: fixed;
    /* top: 1vh; */
    /* right: 10vw; */
    display: inline;
    z-index: +1;
}
#div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -400px;
    top: 20px;
    font-size: 25px;
    text-shadow: 3px 3px 5px black;
}
#div2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -400px;
    top: 20px;
    font-size: 25px;
    text-shadow: 3px 3px 5px black;
    color: white;
}
#team{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    background-color: black;
    position: relative;
    top: -105px;
    height: 400px;
    /* width: 100vw; */
    height: 100vh;
    margin: 0px;
}
.logos{
    width: 250px;
    height: 180px;
    z-index: 1;
    
}
.sponsors{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    position: relative;
    top: -150px;
    height: 200px;
}
#oursponsors{
    color: black;
    font-size: 50px;
    margin-bottom: 100px;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
}
#saeimg{
    height: 100px;
    border-radius: 50%;
}
nav{
    background-color: white;
    width: 100%;
    margin: 0px 0px 0px 0px;
    position: fixed;
    z-index: 100;

}


nav ul{
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li{
    font-size: 32px;
    /* color: blue; */
    z-index: 99;
}

nav ul li a{
    text-decoration: none   ;
    color: black;
}